## Consultas SQL

- Listar o nome do produto, categoria e a soma total de vendas (Quantidade * Preço) para cada produto.
- Ordene o resultado pelo valor total de vendas em ordem decrescente.
- Identificar os produtos que venderam menos no mês de junho de 2023.

In [68]:
# Importando bibliotecas, abrindo conexão e executando consultas SQL

import sqlite3
import pandas as pd

banco = sqlite3.connect("vendas.db")
vendas = pd.read_csv("data_clean.csv")
vendas.to_sql("vendas", banco, if_exists="replace", index=False)

50

In [69]:
# Está consulta calcula o faturamento total de cada produto, multiplica quantidade pelo preço em cada venda, juntando os resultados por produto e somando todos os valores.
# Depois ordena em ordem decrescente pra mostrar quais produtos geraram maior valor.

consulta = """
SELECT
Produto, Categoria, SUM(Quantidade * Preco) AS Total_Vendas
FROM vendas GROUP BY Produto, Categoria ORDER BY Total_Vendas DESC
"""
resultado = pd.read_sql_query(consulta, banco)
print("Total vendas por produto:")
print(resultado)

Total vendas por produto:
          Produto         Categoria  Total_Vendas
0        Notebook       Eletronicos  82500.000000
1  Liquidificador  Eletrodomésticos  17258.333333
2       Air Fryer  Eletrodomésticos  17200.000000
3         Celular       Eletronicos  14400.000000
4           Tênis         Vestuário  10000.000000
5  Fone de Ouvido       Eletronicos   6300.000000
6        Camiseta         Vestuário   1360.000000
7           Livro         Papelaria    500.000000
8          Caneta         Papelaria    100.000000

In [70]:
# Está consulta identifica o produto que teve menor valor em vendas no mês de junho de 2023.
#Filtrando as vendas do mês 6, conta quantas unidades de cada produto, foram vendidas e ordena do menor para o maior.

consulta = """
SELECT Produto, SUM(Quantidade) AS Qtd_Vendida,
SUM(Quantidade * Preco) AS Total_Vendas
FROM vendas WHERE strftime('%Y-%m', Data) = '2023-06'
GROUP BY Produto ORDER BY Qtd_Vendida ASC
"""
resultado = pd.read_sql_query(consulta, banco)
print("\nProdutos com menor vendas em junho/2023:")
print(resultado)

banco.close()

Produtos com menor vendas em junho/2023:
          Produto  Qtd_Vendida  Total_Vendas
0           Tênis            5        1250.0
1       Air Fryer           10        4000.0
2  Liquidificador           10        2000.0